.auth-ui-container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.auth-ui-card {
    padding: 40px;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.534);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
    border-radius: 30px;
}

.auth-ui-card input {
    border-radius: 30px;
    height: 3em;
    width: 25em;
    padding-left: 10px;
}

.auth-ui-card button {
    border-radius: 30px;
    height: 3em;
    width: 18em;
    background-color: #4bbafa4b;
    border: none;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.auth-ui-card button:hover {
    background-color: #4bbafa83;
}