.post-card {   
    display: inline-block;
    /* width: 90%; */
    height: 400px;
    display: flex;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
    background-color: #fafafa;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.post {
   
   display: flex;
   gap: 10px;
   width: 100%;
   justify-content: center;
   align-items: center;
}

.post input {
    border-radius: 20px;
}

.card-info {
    flex: 1;
    height: 400px;
        display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.img-container {
    flex: 1;
}

.preview_img {
    height: 400px;
    width: 100%;
    align-items: left;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-right: 1px solid grey;
    object-fit: cover;
    object-position: left top;
    /* object-position: 60% top; */
}
.preview_info {
     height: 110px;
    overflow: scroll;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
   border-top: 1px solid gray;
    padding: 15px;
    gap: 10px;
   margin-right: 20px;
}

.post-text {
    margin-right: 20px;
    height: 130px;
    overflow: scroll;
}

